In [2]:
import gc
import pandas as pd
import numpy as np

In [3]:
from sklearn.preprocessing import LabelEncoder

**FINAL_TARGETS_DATES_TRAINTEST**

In [4]:
target_df = pd.read_csv("ВК/FINAL_TARGETS_DATES_TRAINTEST.tsv", sep="\t")
target_df.shape[0]

159290

In [5]:
target_df.head(5)

   CLIENT_ID  RETRO_DT TARGET
0    1011725  20210501      0
1    1018784  20210501      1
2    1021812  20210501      0
3    1024003  20210501      0
4    1025140  20210501   test

In [6]:
target_df["TARGET"].value_counts()

0       92491
1       34941
test    31858
Name: TARGET, dtype: int64

In [7]:
target_df["CLIENT_ID"].nunique()

159290

**FINAL_ALL_SEQUENCES_TRAINTEST**

In [8]:
seq_df = pd.read_csv("ВК/FINAL_ALL_SEQUENCES_TRAINTEST.tsv", sep="\t")
seq_df.shape[0]

123707

In [9]:
seq_df.head(5)

   CLIENT_ID                                           SEQUENCE
0    1000100  ['e84b0f471b8e8f4aecc81eb27b16c092', '9a7670be...
1    1000121  ['9804a8d70c5e8c26830bdafe2c2db49c', '9ca02fb0...
2    1000131  ['b496d19eb25556bd64e481d11b6f7dd6', 'eb727f97...
3    1000132  ['467a38fe36ef666e264823387f66f3c8', 'e0494409...
4     100013  ['b496d19eb25556bd64e481d11b6f7dd6', 'fc18cab3...

In [10]:
seq_df.iloc[0]["SEQUENCE"]

"['e84b0f471b8e8f4aecc81eb27b16c092', '9a7670be67a118ddd4b30f5cdd3b035e', 'e65bd9b13ec4a97ac7b912f37c3e36d4', 'aeb4b083a0762ecba2222942ab6b7e22', '23114079654c0224e07fe90619744944', 'f150c479778accab9c439eefe6bd22b4', 'eb727f972742f7ff6b07ee761ae5da1b', '41d71f48089e26dcf46e86474f3568b1', 'db67edba557aecc4435c3bdca5c25d5f', '393a7e7006bb3c2470a93c67429b8d2c', '9cb3abf65fd1465b1c8f829a73761f56', 'eb727f972742f7ff6b07ee761ae5da1b', 'd48a3ba9247bc34d3ef617cb5cb9c5e5', 'acb4ac11bd962f9a3e05042e5b1a260a', 'd8d8278d044dee0fdf62f12708b7fb7b', 'eb727f972742f7ff6b07ee761ae5da1b', '468e25839a56ee5706895fcbb8f5aa00', '179a7187f9dbf227e3751608d6796319', 'd107595edd990ec01718897044bf78ba', '123ce1d2bea3cf5e381ef706605b5aaa', 'eb727f972742f7ff6b07ee761ae5da1b', 'aeb4b083a0762ecba2222942ab6b7e22', 'd48a3ba9247bc34d3ef617cb5cb9c5e5', '5b47ea7718d6194ed6049085bd4c747f', 'c82c51bc925071ff17983d79b472c9f8', 'eb727f972742f7ff6b07ee761ae5da1b', '179a7187f9dbf227e3751608d6796319', 'eb727f972742f7ff6b07ee761ae5da1b', '55b02de9badb0873fee3245d88d0d798', '123ce1d2bea3cf5e381ef706605b5aaa', '23114079654c0224e07fe90619744944', 'f143f08e6277cd0ed2c70680c4171de6', 'eb727f972742f7ff6b07ee761ae5da1b', '9efdb3061afc3c2ccf67088e2b30bca5', 'eb727f972742f7ff6b07ee761ae5da1b', 'e26792c1136c8327db984baf56a84a75', 'eb727f972742f7ff6b07ee761ae5da1b', 'e26792c1136c8327db984baf56a84a75', 'eb727f972742f7ff6b07ee761ae5da1b', 'd48a3ba9247bc34d3ef617cb5cb9c5e5', '5fc209998dca06f1618a78b66cd5d827', 'eb727f972742f7ff6b07ee761ae5da1b', '9a7670be67a118ddd4b30f5cdd3b035e', 'e65bd9b13ec4a97ac7b912f37c3e36d4', 'eb727f972742f7ff6b07ee761ae5da1b', '2f082fd4ed36762c9cbbdb08945bd55f', 'c82c51bc925071ff17983d79b472c9f8', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', '54af40549feac8c648d573775777c823', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', 'ca431c645b8bbf6de0a2ce1f9856af50', 'd50d5cf3b37b8728bc1033bf5e537e39', 'eb727f972742f7ff6b07ee761ae5da1b', 'd50d5cf3b37b8728bc1033bf5e537e39', '0a0262a3ff2f66dfbc8393f654f04cec']"

In [11]:
seq_df["SEQUENCE"] = seq_df["SEQUENCE"].apply(eval)
gc.collect()

0

In [12]:
seq_df.iloc[0]["SEQUENCE"]

['e84b0f471b8e8f4aecc81eb27b16c092',
 '9a7670be67a118ddd4b30f5cdd3b035e',
 'e65bd9b13ec4a97ac7b912f37c3e36d4',
 'aeb4b083a0762ecba2222942ab6b7e22',
 '23114079654c0224e07fe90619744944',
 'f150c479778accab9c439eefe6bd22b4',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '41d71f48089e26dcf46e86474f3568b1',
 'db67edba557aecc4435c3bdca5c25d5f',
 '393a7e7006bb3c2470a93c67429b8d2c',
 '9cb3abf65fd1465b1c8f829a73761f56',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd48a3ba9247bc34d3ef617cb5cb9c5e5',
 'acb4ac11bd962f9a3e05042e5b1a260a',
 'd8d8278d044dee0fdf62f12708b7fb7b',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '468e25839a56ee5706895fcbb8f5aa00',
 '179a7187f9dbf227e3751608d6796319',
 'd107595edd990ec01718897044bf78ba',
 '123ce1d2bea3cf5e381ef706605b5aaa',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'aeb4b083a0762ecba2222942ab6b7e22',
 'd48a3ba9247bc34d3ef617cb5cb9c5e5',
 '5b47ea7718d6194ed6049085bd4c747f',
 'c82c51bc925071ff17983d79b472c9f8',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '179a7187f9dbf227e3751608d6796319',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '55b02de9badb0873fee3245d88d0d798',
 '123ce1d2bea3cf5e381ef706605b5aaa',
 '23114079654c0224e07fe90619744944',
 'f143f08e6277cd0ed2c70680c4171de6',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '9efdb3061afc3c2ccf67088e2b30bca5',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'e26792c1136c8327db984baf56a84a75',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'e26792c1136c8327db984baf56a84a75',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd48a3ba9247bc34d3ef617cb5cb9c5e5',
 '5fc209998dca06f1618a78b66cd5d827',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '9a7670be67a118ddd4b30f5cdd3b035e',
 'e65bd9b13ec4a97ac7b912f37c3e36d4',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '2f082fd4ed36762c9cbbdb08945bd55f',
 'c82c51bc925071ff17983d79b472c9f8',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 '54af40549feac8c648d573775777c823',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'ca431c645b8bbf6de0a2ce1f9856af50',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 'eb727f972742f7ff6b07ee761ae5da1b',
 'd50d5cf3b37b8728bc1033bf5e537e39',
 '0a0262a3ff2f66dfbc8393f654f04cec']

In [13]:
seq_df = seq_df.explode(column="SEQUENCE")
gc.collect()

42

In [14]:
seq_df.shape[0]

17783022

In [15]:
seq_df.head(5)

   CLIENT_ID                          SEQUENCE
0    1000100  e84b0f471b8e8f4aecc81eb27b16c092
0    1000100  9a7670be67a118ddd4b30f5cdd3b035e
0    1000100  e65bd9b13ec4a97ac7b912f37c3e36d4
0    1000100  aeb4b083a0762ecba2222942ab6b7e22
0    1000100  23114079654c0224e07fe90619744944

In [16]:
seq_df["RN"] = seq_df.groupby("CLIENT_ID").cumcount() + 1
seq_df.head(5)

   CLIENT_ID                          SEQUENCE  RN
0    1000100  e84b0f471b8e8f4aecc81eb27b16c092   1
0    1000100  9a7670be67a118ddd4b30f5cdd3b035e   2
0    1000100  e65bd9b13ec4a97ac7b912f37c3e36d4   3
0    1000100  aeb4b083a0762ecba2222942ab6b7e22   4
0    1000100  23114079654c0224e07fe90619744944   5

In [17]:
seq_df.groupby("CLIENT_ID").agg(count=("RN", "max"))["count"].mean()

143.75113776908339

**FINAL_SEQUENCES_MATRIX**

In [18]:
matrix = pd.read_csv("ВК/FINAL_SEQUENCES_MATRIX.tsv", sep="\t")
matrix.shape[0]

1489576

In [19]:
matrix.head(5)

                                  SESSIONS_SEQUENCES
0  ['68a9902529901882ecd5143460468d4c', '79d75347...
1               ['72b88f72bca2636844bb14b9cd9e29b3']
2  ['b496d19eb25556bd64e481d11b6f7dd6', 'd21918bb...
3  ['dcb3d50673073d3c023db102f21b2d3e', '09a5d816...
4  ['3de59e26ee7e94a6ccd0a2eead2fab9a', '4a51f13a...

In [20]:
matrix["SESSIONS_SEQUENCES"] = matrix["SESSIONS_SEQUENCES"].apply(eval)
gc.collect()

0

In [21]:
matrix = matrix.explode(column="SESSIONS_SEQUENCES")
gc.collect()

21

In [22]:
matrix.shape[0]

34945691

In [23]:
matrix.reset_index(drop=False, inplace=True)

In [24]:
matrix.columns = ["CLIENT_ID", "SEQUENCE"]

In [25]:
matrix["CLIENT_ID"] += target_df["CLIENT_ID"].max() + 1

In [26]:
matrix["RN"] = matrix.groupby("CLIENT_ID").cumcount() + 1
matrix.head(5)

   CLIENT_ID                          SEQUENCE  RN
0    1770293  68a9902529901882ecd5143460468d4c   1
1    1770293  79d75347a9f7b1f2c3a8ab2adc53b572   2
2    1770293  68a9902529901882ecd5143460468d4c   3
3    1770293  3b3c39e359f70ab131cf111de8e637fc   4
4    1770293  68a9902529901882ecd5143460468d4c   5

In [27]:
matrix.groupby("CLIENT_ID").agg(count=("RN", "max"))["count"].mean()

23.46015980386365

**Merge sequences and targets**

In [28]:
target_df["CLIENT_ID"].nunique(), seq_df["CLIENT_ID"].nunique()

(159290, 123707)

In [29]:
seq_target_df = target_df.merge(seq_df, how="left", on="CLIENT_ID")
target_df.shape[0], seq_target_df["SEQUENCE"].isna().sum()

(159290, 38404)

In [30]:
(~(seq_df["CLIENT_ID"].isin(target_df["CLIENT_ID"]))).sum()

0

In [31]:
(~(target_df["CLIENT_ID"].isin(seq_df["CLIENT_ID"]))).sum()

35583

In [32]:
matrix["TARGET"] = np.nan

In [33]:
matrix.head(5)

   CLIENT_ID                          SEQUENCE  RN  TARGET
0    1770293  68a9902529901882ecd5143460468d4c   1     NaN
1    1770293  79d75347a9f7b1f2c3a8ab2adc53b572   2     NaN
2    1770293  68a9902529901882ecd5143460468d4c   3     NaN
3    1770293  3b3c39e359f70ab131cf111de8e637fc   4     NaN
4    1770293  68a9902529901882ecd5143460468d4c   5     NaN

In [34]:
all_seq_df = pd.concat([seq_target_df, matrix], ignore_index=True).reset_index(drop=True)
all_seq_df.shape[0]

52764296

**Drop empty states list**

In [35]:
all_seq_df.dropna(subset=["SEQUENCE"], inplace=True)
gc.collect()

63

**Clip last states**

In [36]:
all_seq_df.shape[0]

52650678

In [37]:
seq_lens = all_seq_df.groupby("CLIENT_ID").agg(count=("RN", "count")).reset_index(drop=False)
all_seq_df = all_seq_df.merge(seq_lens, how="left", on="CLIENT_ID")
gc.collect()

42

In [38]:
all_seq_df.shape[0]

52650678

In [39]:
seq_lens["count"].mean()

34.294575208695925

In [40]:
seq_lens["count"].median()

8.0

In [41]:
seq_lens["count"].quantile(0.95)

116.0

In [42]:
seq_lens["count"].quantile(0.98)

255.0

In [43]:
seq_lens["count"].max()

131431

In [44]:
all_seq_df.head(5)

   CLIENT_ID    RETRO_DT TARGET                          SEQUENCE   RN  count
0    1011725  20210501.0      0  358f1de5feb4209fae852fb0a61de5d8  1.0    163
1    1011725  20210501.0      0  6760174c4579afec8bf24a3ac824ab20  2.0    163
2    1011725  20210501.0      0  46cde2a2407d537a0b34ef1e6b768f24  3.0    163
3    1011725  20210501.0      0  ad197c71dae25b9d0633d66353f194b4  4.0    163
4    1011725  20210501.0      0  b2d534801c7163b324a0447b7f26fd65  5.0    163

In [45]:
all_seq_df["RN"] = all_seq_df["RN"].astype("int")
all_seq_df["BACK_RN"] = (all_seq_df["count"] + 1 - all_seq_df["RN"])
all_seq_df.head(5)

,CLIENT_ID,RETRO_DT,TARGET,SEQUENCE,RN,count,BACK_RN
0,1011725,20210501.0,0,358f1de5feb4209fae852fb0a61de5d8,1,163,163
1,1011725,20210501.0,0,6760174c4579afec8bf24a3ac824ab20,2,163,162
2,1011725,20210501.0,0,46cde2a2407d537a0b34ef1e6b768f24,3,163,161
3,1011725,20210501.0,0,ad197c71dae25b9d0633d66353f194b4,4,163,160
4,1011725,20210501.0,0,b2d534801c7163b324a0447b7f26fd65,5,163,159

In [46]:
MAX_SEQ_LEN = 256

all_seq_df = all_seq_df[all_seq_df["BACK_RN"] <= MAX_SEQ_LEN]
all_seq_df.shape[0]

38906662

**Train test split**

In [47]:
train_seq_df = all_seq_df[all_seq_df["TARGET"]!="test"]
test_seq_df = all_seq_df[all_seq_df["TARGET"]=="test"]

**Encoding sequence feature**

In [48]:
val_counts = train_seq_df["SEQUENCE"].value_counts(sort=True)
val_counts

eb727f972742f7ff6b07ee761ae5da1b    3187800
b496d19eb25556bd64e481d11b6f7dd6    1584956
9a7670be67a118ddd4b30f5cdd3b035e     934613
d08c1bbf135ff7e0c8324fbc890e9916     872743
87a4ccc2101bb6109d397e91e9291624     871394
                                     ...
5c7ba1619265e709b3b451c80bc32acd          1
1055b5bbeb4c0844b0820cc6dd53e94d          1
3084585bf2ace9d4170e4b4019f17b4a          1
0d3a54cbb5dc76a2da200a5dc8af82f0          1
67713d2a080b6a9a2c84f2069d100f13          1
Name: SEQUENCE, Length: 383075, dtype: int64

In [49]:
val_counts = val_counts[val_counts > 10]
val_counts.shape[0]

63535

In [50]:
encoding_dict = {k: i for i, k in enumerate(val_counts.index.values, start=1)}
len(encoding_dict.keys())

63535

In [51]:
encoding_dict[""] = 0

In [52]:
train_seq_df.loc[~(train_seq_df["SEQUENCE"].isin(encoding_dict.keys())), "SEQUENCE"] = ""

/home/u_m1bs9/.local/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [53]:
(train_seq_df["SEQUENCE"] == "").sum()

724130

In [54]:
train_seq_df["ENC_SEQUENCE"] = train_seq_df["SEQUENCE"].map(encoding_dict)
train_seq_df["ENC_SEQUENCE"].min(), train_seq_df["ENC_SEQUENCE"].max(), train_seq_df["ENC_SEQUENCE"].nunique()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(0, 63535, 63536)

In [55]:
train_seq_df["ENC_SEQUENCE"].isna().sum()

0

In [56]:
(train_seq_df["ENC_SEQUENCE"] == 0).sum()

724130

In [57]:
test_seq_df.loc[~(test_seq_df["SEQUENCE"].isin(encoding_dict.keys())), "SEQUENCE"] = ""

In [58]:
test_seq_df["ENC_SEQUENCE"] = test_seq_df["SEQUENCE"].map(encoding_dict)
test_seq_df["ENC_SEQUENCE"].min(), test_seq_df["ENC_SEQUENCE"].max(), test_seq_df["ENC_SEQUENCE"].nunique()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(0, 63535, 31599)

In [59]:
test_seq_df["ENC_SEQUENCE"].isna().sum()

0

In [60]:
(test_seq_df["ENC_SEQUENCE"] == 0).sum()

37165

In [61]:
train_seq_df.head(5)

,CLIENT_ID,RETRO_DT,TARGET,SEQUENCE,RN,count,BACK_RN,ENC_SEQUENCE
0,1011725,20210501.0,0,358f1de5feb4209fae852fb0a61de5d8,1,163,163,25
1,1011725,20210501.0,0,6760174c4579afec8bf24a3ac824ab20,2,163,162,1105
2,1011725,20210501.0,0,,3,163,161,0
3,1011725,20210501.0,0,ad197c71dae25b9d0633d66353f194b4,4,163,160,2605
4,1011725,20210501.0,0,b2d534801c7163b324a0447b7f26fd65,5,163,159,43

**0 is a padding index**

In [62]:
train_seq_df["ENC_SEQUENCE"] += 1
test_seq_df["ENC_SEQUENCE"] += 1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
train_seq_df["ENC_SEQUENCE"].min(), train_seq_df["ENC_SEQUENCE"].max(), train_seq_df["ENC_SEQUENCE"].nunique()

(1, 63536, 63536)

In [64]:
test_seq_df["ENC_SEQUENCE"].min(), test_seq_df["ENC_SEQUENCE"].max(), test_seq_df["ENC_SEQUENCE"].nunique()

(1, 63536, 31599)

**Filter sequences with target**

In [65]:
target_train_seq_df = train_seq_df[train_seq_df["TARGET"].notnull()]
target_train_seq_df.shape[0], target_train_seq_df["CLIENT_ID"].nunique()

(8163202, 96685)

In [66]:
train_seq_df.head(5)

,CLIENT_ID,RETRO_DT,TARGET,SEQUENCE,RN,count,BACK_RN,ENC_SEQUENCE
0,1011725,20210501.0,0,358f1de5feb4209fae852fb0a61de5d8,1,163,163,26
1,1011725,20210501.0,0,6760174c4579afec8bf24a3ac824ab20,2,163,162,1106
2,1011725,20210501.0,0,,3,163,161,1
3,1011725,20210501.0,0,ad197c71dae25b9d0633d66353f194b4,4,163,160,2606
4,1011725,20210501.0,0,b2d534801c7163b324a0447b7f26fd65,5,163,159,44

## Pytorch-lifestream

In [67]:
from ptls.preprocessing import PandasDataPreprocessor

**Preprocessing**

In [68]:
preprocessor = PandasDataPreprocessor(
    col_id="CLIENT_ID",
    col_event_time="RN",
    event_time_transformation="none",
    cols_category=["ENC_SEQUENCE"],
    category_transformation="none",
    return_records=True
)

In [151]:
%%time

unsup_dataset = preprocessor.fit_transform(train_seq_df[["CLIENT_ID", "ENC_SEQUENCE", "RN"]])

CPU times: user 9min 45s, sys: 32.5 s, total: 10min 17s
Wall time: 10min 19s

In [69]:
import pickle

In [152]:
with open("artifacts/preprocessor.p", "wb") as f:
    pickle.dump(preprocessor, f)

In [70]:
with open("artifacts/preprocessor.p", "rb") as f:
    preprocessor = pickle.load(f)

In [71]:
%%time

# transform other datasets
train_dataset = preprocessor.transform(target_train_seq_df[["CLIENT_ID", "ENC_SEQUENCE", "RN"]])
test_dataset = preprocessor.transform(test_seq_df[["CLIENT_ID", "ENC_SEQUENCE", "RN"]])

CPU times: user 51 s, sys: 2.5 s, total: 53.4 s
Wall time: 53.7 s

**Modeling**

In [72]:
from ptls.data_load.augmentations.random_slice import RandomSlice

In [73]:
import torch
from functools import partial
from ptls.nn import TrxEncoder, RnnSeqEncoder
from ptls.frames.coles import CoLESModule

In [74]:
max(encoding_dict.values()) + 1

63536

In [75]:
(max(encoding_dict.values()) + 1) * 256

16265216

In [370]:
trx_encoder_params = dict(
    embeddings_noise=0.003,
    numeric_values = {},
    embeddings={
        "ENC_SEQUENCE": {"in": max(encoding_dict.values()) + 1, "out": 256}
    }
)

seq_encoder = RnnSeqEncoder(
    trx_encoder=TrxEncoder(**trx_encoder_params),
    hidden_size=128,
    type="gru"
)

model = CoLESModule(
    seq_encoder=seq_encoder,
    optimizer_partial=partial(torch.optim.Adam, lr=0.001),
    lr_scheduler_partial=partial(torch.optim.lr_scheduler.StepLR, step_size=30, gamma=0.9),
)

**Data Loader**

In [76]:
from ptls.data_load.datasets import MemoryMapDataset
from ptls.data_load.iterable_processing import SeqLenFilter
from ptls.frames.coles import ColesDataset
from ptls.frames.coles.split_strategy import SampleSlices
from ptls.frames import PtlsDataModule

In [372]:
train_dl = PtlsDataModule(
    train_data=ColesDataset(
        MemoryMapDataset(
            data=unsup_dataset,
            i_filters=[
                SeqLenFilter(min_seq_len=4),
            ],
        ),
        splitter=SampleSlices(
            split_count=5,
            cnt_min=4,
            cnt_max=200,
        ),
    ),
    train_num_workers=16,
    train_batch_size=256,
)

In [77]:
gc.collect()

63

**Trainer**

In [78]:
import torch
import pytorch_lightning as pl

import logging

In [375]:
trainer = pl.Trainer(
    max_epochs=50,
    gpus=1 if torch.cuda.is_available() else 0,
    enable_progress_bar=True,
    strategy=None
)

GPU available: True, used: True
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

**Training**

In [376]:
%%time
print(f"logger.version = {trainer.logger.version}")
trainer.fit(model, train_dl)
print(trainer.logged_metrics)

/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/trainer/configuration_validator.py:133: UserWarning: You defined a `validation_step` but have no `val_dataloader`. Skipping val loop.
  rank_zero_warn("You defined a `validation_step` but have no `val_dataloader`. Skipping val loop.")
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]

  | Name               | Type            | Params
-------------------------------------------------------
0 | _loss              | ContrastiveLoss | 0
1 | _seq_encoder       | RnnSeqEncoder   | 16.4 M
2 | _validation_metric | BatchRecallTopK | 0
3 | _head              | Head            | 0
-------------------------------------------------------
16.4 M    Trainable params
0         Non-trainable params
16.4 M    Total params
65.654    Total estimated model params size (MB)

logger.version = 13

Training: 0it [00:00, ?it/s]

{'loss': tensor(157.7340, device='cuda:0'), 'seq_len': tensor(14.9336, device='cuda:0')}
CPU times: user 12min 29s, sys: 1min 17s, total: 13min 47s
Wall time: 13min 53s

/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/trainer/trainer.py:726: UserWarning: Detected KeyboardInterrupt, attempting graceful shutdown...
  rank_zero_warn("Detected KeyboardInterrupt, attempting graceful shutdown...")

**Save seq_encoder weights**

In [201]:
torch.save(seq_encoder.state_dict(), "artifacts/coles-emb_128.pt")

**Get embeddings**

In [79]:
from ptls.data_load.datasets import inference_data_loader

In [202]:
train_dl = inference_data_loader(train_dataset, num_workers=0, batch_size=256)
train_embeds = torch.vstack(trainer.predict(model, train_dl))

test_dl = inference_data_loader(test_dataset, num_workers=0, batch_size=256)
test_embeds = torch.vstack(trainer.predict(model, test_dl))

train_embeds.shape, test_embeds.shape

LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]
/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/trainer/connectors/data_connector.py:245: PossibleUserWarning: The dataloader, predict_dataloader 0, does not have many workers which may be a bottleneck. Consider increasing the value of the `num_workers` argument` (try 96 which is the number of cpus on this machine) in the `DataLoader` init to improve performance.
  category=PossibleUserWarning,

Predicting: 3034it [00:00, ?it/s]

/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/loops/epoch/prediction_epoch_loop.py:175: UserWarning: Lightning couldn't infer the indices fetched for your dataloader.
  warning_cache.warn("Lightning couldn't infer the indices fetched for your dataloader.")
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]

Predicting: 3034it [00:00, ?it/s]

(torch.Size([96685, 16]), torch.Size([24201, 16]))

In [209]:
target_df["TARGET"].value_counts()

0       92491
1       34941
test    31858
Name: TARGET, dtype: int64

In [210]:
96685 / (96685 + 34941)

0.7345433273061553

In [211]:
24201 / 31858

0.7596522066670852

In [84]:
train_target_df = target_df[target_df["TARGET"]!="test"]
test_target_df = target_df[target_df["TARGET"]=="test"]
train_target_df.shape[0], test_target_df.shape[0]

(127432, 31858)

In [224]:
embed_columns = [f'embed_{i}' for i in range(train_embeds.shape[1])]
train_embeds_df = pd.DataFrame(data=train_embeds.numpy(), columns=embed_columns)
train_embeds_df["CLIENT_ID"] = [x["CLIENT_ID"] for x in train_dataset]
train_embeds_df = train_target_df.merge(train_embeds_df, how="left", on="CLIENT_ID")

test_embeds_df = pd.DataFrame(data=test_embeds.numpy(), columns=embed_columns)
test_embeds_df["CLIENT_ID"] = [x["CLIENT_ID"] for x in test_dataset]
test_embeds_df = test_target_df.merge(test_embeds_df, how="left", on="CLIENT_ID")

print(train_embeds_df.shape, test_embeds_df.shape)

(127432, 19) (31858, 19)

In [225]:
train_embeds_df.head(5)

,CLIENT_ID,RETRO_DT,TARGET,embed_0,embed_1,embed_2,embed_3,embed_4,embed_5,embed_6,embed_7,embed_8,embed_9,embed_10,embed_11,embed_12,embed_13,embed_14,embed_15
0,1011725,20210501,0,0.023088,-0.637532,0.460064,-0.404557,-0.121882,-0.039651,0.729014,0.219234,-0.355999,0.547310,0.904606,-0.478223,0.282368,-0.473438,0.651416,-0.400655
1,1018784,20210501,1,-0.085799,-0.498362,0.214997,0.045838,-0.554335,-0.258517,0.445557,0.627721,-0.751760,0.275726,0.920611,-0.495070,-0.029588,-0.551534,0.380883,-0.747836
2,1021812,20210501,0,0.030161,-0.552375,0.525406,-0.377661,-0.460579,0.193575,0.161870,0.262462,-0.902078,0.548467,0.709263,-0.482735,0.175077,-0.350803,0.403445,-0.350306
3,1024003,20210501,0,0.290751,-0.644814,0.507834,0.071638,-0.400943,-0.131227,0.125493,0.283818,-0.384769,0.293267,0.840564,-0.383901,0.243509,-0.369481,0.681728,-0.481901
4,1026390,20210501,1,0.184734,-0.645089,0.412090,-0.373927,-0.103036,0.268280,0.374531,0.337312,-0.698646,0.817906,0.810684,-0.678619,0.587717,0.075198,0.426324,-0.467399

In [226]:
test_embeds_df.head(5)

,CLIENT_ID,RETRO_DT,TARGET,embed_0,embed_1,embed_2,embed_3,embed_4,embed_5,embed_6,embed_7,embed_8,embed_9,embed_10,embed_11,embed_12,embed_13,embed_14,embed_15
0,1025140,20210501,test,-0.065011,-0.139320,0.062844,-0.049985,-0.303888,-0.537759,0.129406,0.051621,-0.202745,0.029460,0.108914,-0.136512,0.185937,-0.066964,0.111823,-0.079308
1,1029732,20210501,test,-0.033738,-0.566957,0.390280,-0.260153,-0.683180,0.242037,0.470731,0.324965,-0.307363,0.701547,0.834260,-0.955106,0.157632,-0.560924,0.217248,-0.108798
2,1079794,20210501,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1116331,20210501,test,-0.057849,-0.152701,0.168505,-0.120704,-0.033321,0.451756,0.685853,0.070345,-0.069403,0.085613,0.542716,-0.376874,0.141015,-0.110342,0.324876,-0.074734
4,1136822,20210501,test,-0.116530,-0.412536,0.311511,0.162531,-0.474708,0.082530,0.623114,0.590708,-0.404404,0.817844,0.914185,-0.922403,0.588681,-0.097407,0.510846,-0.152003

In [223]:
train_embeds_df["embed_0"].notnull().sum()

96685

In [227]:
test_embeds_df["embed_0"].notnull().sum()

24201

In [228]:
train_embeds_df["embed_hit"] = 0
test_embeds_df["embed_hit"] = 0

train_embeds_df.loc[train_embeds_df["embed_0"].notnull(), "embed_hit"] = 1
test_embeds_df.loc[test_embeds_df["embed_0"].notnull(), "embed_hit"] = 1

train_embeds_df.loc[train_embeds_df["embed_0"].isna(), embed_columns] = 0.0
test_embeds_df.loc[test_embeds_df["embed_0"].isna(), embed_columns] = 0.0

In [229]:
train_embeds_df.isna().sum().sum()

0

In [230]:
test_embeds_df.isna().sum().sum()

0

In [232]:
train_embeds_df.to_csv("data/train_embeds_unsup.csv", index=False)
test_embeds_df.to_csv("data/test_embeds_unsup.csv", index=False)

**SequenceToTarget**

In [85]:
from copy import deepcopy

In [86]:
train_dataset_target = pd.DataFrame(deepcopy(train_dataset))
test_dataset_target = pd.DataFrame(deepcopy(test_dataset))
gc.collect()

0

In [87]:
train_target_df["TARGET"] = train_target_df["TARGET"].astype("int")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [88]:
train_dataset_target = train_dataset_target.merge(train_target_df[["CLIENT_ID", "TARGET"]],
                                                  how="left", on="CLIENT_ID")
train_dataset_target["TARGET"].isna().sum()

0

In [89]:
gc.collect()

63

In [90]:
train_dataset_target.head(5)

,CLIENT_ID,ENC_SEQUENCE,RN,event_time,TARGET
0,7150,"[tensor(21), tensor(181), tensor(201), tensor(...","[tensor(1), tensor(2), tensor(3), tensor(4), t...","[tensor(1), tensor(2), tensor(3), tensor(4), t...",1
1,7154,[tensor(26)],[tensor(1)],[tensor(1)],0
2,7156,"[tensor(4), tensor(21), tensor(4), tensor(21),...","[tensor(1), tensor(2), tensor(3), tensor(4), t...","[tensor(1), tensor(2), tensor(3), tensor(4), t...",0
3,8532,"[tensor(4), tensor(7), tensor(132), tensor(168...","[tensor(1), tensor(2), tensor(3), tensor(4), t...","[tensor(1), tensor(2), tensor(3), tensor(4), t...",0
4,26955,"[tensor(3), tensor(138), tensor(3), tensor(25)...","[tensor(154), tensor(155), tensor(156), tensor...","[tensor(154), tensor(155), tensor(156), tensor...",1

**Train Test Split**

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
train_dataset_target, valid_dataset_target = train_test_split(train_dataset_target, 
                                                              test_size=0.2, 
                                                              stratify=train_dataset_target["TARGET"])
train_dataset_target.shape[0], valid_dataset_target.shape[0]

(77348, 19337)

In [93]:
train_dataset_target.reset_index(drop=True, inplace=True)
valid_dataset_target.reset_index(drop=True, inplace=True)

**Model**

In [94]:
import torchmetrics
from ptls.nn import TrxEncoder, RnnSeqEncoder, Head
from ptls.frames.supervised import SeqToTargetDataset, SequenceToTarget

In [96]:
from ptls.data_load.iterable_processing import FeatureFilter
from ptls.frames.bert import MlmDataset

**MLM Pretrain**

In [ ]:
mlm_dm = PtlsDataModule(
    train_data=MlmDataset(
        MemoryMapDataset(
            data=unsup_dataset
        ),
        min_len=8, max_len=196
    ),
    train_num_workers=16,
    train_batch_size=128
)

In [97]:
gc.collect()

50

In [98]:
from ptls.nn import LongformerEncoder
from ptls.frames.bert import MLMPretrainModule
from ptls.nn import PBLinear, PBL2Norm, PBLayerNorm

In [99]:
trx_encoder_params = dict(
    embeddings_noise=0.003,
    numeric_values = {},
    embeddings={
        "ENC_SEQUENCE": {"in": max(encoding_dict.values()) + 1, "out": 128}
    }
)

trx_encoder = TrxEncoder(**trx_encoder_params)

In [462]:
mlm_model = MLMPretrainModule(
    trx_encoder=torch.nn.Sequential(
        trx_encoder,
        PBLinear(trx_encoder.output_size, 256),
        PBL2Norm(),
    ),
    seq_encoder=LongformerEncoder(
        input_size=256,
        num_attention_heads=1,
        intermediate_size=1024,
        num_hidden_layers=2,
        attention_window=64,
        max_position_embeddings=2000,
    ),
    hidden_size=256,
    loss_temperature=20.0,
    
    total_steps=30000,

    replace_proba=0.1,
    neg_count=64,
    
    log_logits=True,
)

In [463]:
import numpy as np

trainer = pl.Trainer(
    max_steps=24000,  # 12000
    gpus=1 if torch.cuda.is_available() else 0,
    enable_progress_bar=True,
    callbacks=[
        pl.callbacks.LearningRateMonitor(logging_interval="step"),
        pl.callbacks.ModelCheckpoint(every_n_train_steps=2000, save_top_k=-1),
    ]
)
print(f"loss baseline = {np.log(mlm_model.hparams.neg_count):.3f}")

GPU available: True, used: True
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

loss baseline = 4.159

In [ ]:
%%time
print(f"logger.version = {trainer.logger.version}")
trainer.fit(mlm_model, mlm_dm)
print(trainer.logged_metrics)

In [465]:
torch.save(mlm_model.trx_encoder.state_dict(), "artifacts/mlm-emb.pt")

In [100]:
def get_dataset(data):
    return SeqToTargetDataset(
        MemoryMapDataset(
            data=data,
            i_filters=[
                FeatureFilter(keep_feature_names="TARGET"),
            ],
        ),
        target_dtype=torch.int32,
        target_col_name="TARGET",
    )

finetune_dm = PtlsDataModule(
    train_data=get_dataset(train_dataset_target.to_dict(orient="records")),
    valid_data=get_dataset(valid_dataset_target.to_dict(orient="records")),
    test_data=get_dataset(valid_dataset_target.to_dict(orient="records")),
    train_num_workers=16,
    train_batch_size=256,
    test_batch_size=128,
)

In [101]:
model = SequenceToTarget(
    seq_encoder=RnnSeqEncoder(
        trx_encoder=torch.nn.Sequential(
            torch.nn.Sequential(
                TrxEncoder(**trx_encoder_params),
                PBLinear(trx_encoder.output_size, 256),
                PBL2Norm(),
            ),
            PBLayerNorm(256),
        ),
        input_size=256,
        hidden_size=256,
        type="gru",
    )
)

model.seq_encoder.trx_encoder[0].load_state_dict(torch.load("artifacts/mlm-emb.pt"))

In [102]:
dataset_target = pd.concat([train_dataset_target, valid_dataset_target], 
                           ignore_index=True).reset_index(drop=True)

In [103]:
model.eval()

trainer = pl.Trainer(gpus=1 if torch.cuda.is_available() else 0)

train_dl = inference_data_loader(MemoryMapDataset(dataset_target.to_dict(orient="records")), 
                                                  num_workers=0, batch_size=256)
train_embeds = torch.vstack(trainer.predict(model, train_dl))

test_dl = inference_data_loader(MemoryMapDataset(test_dataset_target.to_dict(orient="records")),
                                num_workers=0, batch_size=256)
test_embeds = torch.vstack(trainer.predict(model, test_dl))

train_embeds.shape, test_embeds.shape

/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/loops/utilities.py:95: PossibleUserWarning: `max_epochs` was not set. Setting it to 1000 epochs. To train without an epoch limit, set `max_epochs=-1`.
  category=PossibleUserWarning,
GPU available: True, used: True
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]
/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/trainer/connectors/data_connector.py:245: PossibleUserWarning: The dataloader, predict_dataloader 0, does not have many workers which may be a bottleneck. Consider increasing the value of the `num_workers` argument` (try 96 which is the number of cpus on this machine) in the `DataLoader` init to improve performance.
  category=PossibleUserWarning,

Predicting: 0it [00:00, ?it/s]

/home/u_m1bs9/.local/lib/python3.7/site-packages/pytorch_lightning/loops/epoch/prediction_epoch_loop.py:175: UserWarning: Lightning couldn't infer the indices fetched for your dataloader.
  warning_cache.warn("Lightning couldn't infer the indices fetched for your dataloader.")
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]

Predicting: 0it [00:00, ?it/s]

(torch.Size([96685, 256]), torch.Size([24201, 256]))

In [120]:
embed_columns = [f'embed_{i}' for i in range(train_embeds.shape[1])]
train_embeds_df = pd.DataFrame(data=train_embeds.numpy(), columns=embed_columns)
train_embeds_df["CLIENT_ID"] = dataset_target["CLIENT_ID"]
train_embeds_df = train_target_df.merge(train_embeds_df, how="left", on="CLIENT_ID")

test_embeds_df = pd.DataFrame(data=test_embeds.numpy(), columns=embed_columns)
test_embeds_df["CLIENT_ID"] = test_dataset_target["CLIENT_ID"]
test_embeds_df = test_target_df.merge(test_embeds_df, how="left", on="CLIENT_ID")

print(train_embeds_df.shape, test_embeds_df.shape)

(127432, 259) (31858, 259)

In [121]:
train_embeds_df["embed_0"].notnull().sum()

96685

In [122]:
test_embeds_df["embed_0"].notnull().sum()

24201

In [123]:
train_embeds_df["embed_hit"] = 0
test_embeds_df["embed_hit"] = 0

train_embeds_df.loc[train_embeds_df["embed_0"].notnull(), "embed_hit"] = 1
test_embeds_df.loc[test_embeds_df["embed_0"].notnull(), "embed_hit"] = 1

train_embeds_df.loc[train_embeds_df["embed_0"].isna(), embed_columns] = 0.0
test_embeds_df.loc[test_embeds_df["embed_0"].isna(), embed_columns] = 0.0

In [124]:
train_embeds_df.isna().sum().sum()

0

In [125]:
test_embeds_df.isna().sum().sum()

0

In [126]:
train_embeds_df.to_csv("data/train_embeds_transformer.csv", index=False)
test_embeds_df.to_csv("data/test_embeds_transformer.csv", index=False)